.App {
min-height:100vh;
background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);

}
.search-form{
  min-height: 10vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.search-bar{
  width:50%;
  border:none;
  padding:10px;
}
.search-button{
  background:#9afffb ;
  border:none;
  padding:10px 30px;
  color:black;
  font-size:18px;
  font-weight: lighter;
}
.receipt-card{
  margin:0;
  padding:0;
  min-height: 100vh;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);  
  display:flex;
  justify-content: center;
  font-family: consolas;
  flex-flow: row wrap;


}
